*.cpp linguist-detectable=false
*.cmake linguist-detectable=false
*.dart linguist-detectable=true
*.swift linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.other linguist-detectable=false
*.html linguist-detectable=false
